{{

Flower|

species=${species}|
latin=${latin}|
tier=${tier}|

found=|
description=${description}|
hint=${hint}|

recipe1_flower=${recipes[0]?.flower}|
recipe1_outcome=${recipes[0]?.outcome}|

recipe2_flower=${recipes[1]?.flower}|
recipe12outcome=${recipes[1]?.outcome}|

aquatic=${aquatic}|
effect=${effect}|
effect_description=${effect_description}|
smoker=${smoker}|

trivia=

}}