{{

Flower|

species=${species}|
latin=${latin}|
tier=${tier}|

effect=${effect_description}|

found=|
description=${description}|
hint=${hint}|

dye=|

recipe1_flower=${recipes[0]?.flower}|
recipe1_outcome=${recipes[0]?.outcome}|

recipe2_flower=${recipes[1]?.flower}|
recipe12outcome=${recipes[1]?.outcome}|

}}